table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    font-family: 'Amatic SC', cursive;
    width: 100vw;
    height: 100vh;
    color: burlywood;
}
.bg-image {
    background-image: url("img/pexels-viktoria-alipatova-2668498.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
}

input, select {
    background-color: #a69888;
    border: 5px solid #484538;
    border-radius: .5em;
}

.header-background {
    background-image: url('https://cdn9.bigcommerce.com/s-p2ed6r2j/product_images/uploaded_images/nespresso-header-gif.gif?t=1446465389');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100vw;*/
    /*height: 25vh;*/
    border-radius: 1em;
}

.section-bg {
    background-color: rgba(255, 255, 240, 0.2);
    border-radius: 1em;
}
/*added class for spacing*/
.equal-border {
    /*margin-top: 3.5em;*/
}
.nav-bg {
    background-color: rgba(255, 255, 240, .3);
    border-radius: .5em;
    color: #484538;
}
.vert-center{
    line-height: 25vh;
    height: 25vh;
    font-size: 9em;
}