body {
	font-family: 'Amatic SC', cursive;
	width: 100vw;
	height: 100vh;
	color: burlywood;
}

.bg-image {
	background-image: url("img/pexels-viktoria-alipatova-2668498.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1em;
}

input, select {
	background-color: #a69888;
	border: 5px solid #484538;
	border-radius: .5em;
}

.btn-color {
	background-color: midnightblue;
	border: 5px solid #484538;
	border-radius: .5em;
	color: burlywood;
}

.header-background {
	background-image: url('https://cdn9.bigcommerce.com/s-p2ed6r2j/product_images/uploaded_images/nespresso-header-gif.gif?t=1446465389');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1em;
}

.section-bg {
	background-color: rgba(72, 69, 56, 0.5);
	border-radius: 1em;
	margin: .5em;
}

.nav-bg {
	background-color: rgba(72, 69, 56, 0.9);
	border-radius: .5em;
	padding: 0 .7em;
}

.vert-center {
	line-height: 20vh;
	height: 20vh;
	font-size: 7em;
}